@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Wanted Sans";
  src: url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css")
    format("woff");
}

@import url(./base.css);
@import url(./codeBlock.css);
@import url(./anchor.css);

/* :root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
} */

/* Bottom Sheet Style Sheet */

* {
  font-family: "Wanted Sans Variable", "Wanted Sans", var(--font-noto-sans-kr),
    var(--font-archivo)-apple-system, BlinkMacSystemFont, system-ui, "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
